<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_movie.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for movie in current_movie.all %}
    <img class="movie_poster_size" src="{{movie.movie_poster.url}}"><br><br>
    연령 | {{movie.movie_age}}<br>
    장르 | {{movie.movie_genre}}<br>
    감독 | {{movie.movie_director}}<br>
    출연 | {{movie.movie_actor1}}, {{movie.movie_actor2}}<br>
    평점 | {{movie.movie_score|floatformat:2}}<br>
    <div class="movie_poster_item" onclick="book_movie('{{ movie.movie_id }}');">
    예매하기<br>
    </div>
    {% endfor %}
    <script>
        function book_movie(movie_id) {
            console.log(movie_id);
            window.location.href = `${window.location.origin}/bookpjh/?movie=${movie_id}`
        }
    </script>
</body>
</html>