<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Title</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;    {% for start_time in time.all %}&ndash;&gt;-->
<!--&lt;!&ndash;        <div onclick="select_time('{{start_time.start_time}}', '{{movie_message}}','{{pjh_message}}','{{date_message}}')";>{{start_time.start_time}}</div><br>&ndash;&gt;-->
<!--&lt;!&ndash;    {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;    <script>&ndash;&gt;-->
<!--&lt;!&ndash;        function select_time(time, movie, pjh, date) {&ndash;&gt;-->
<!--&lt;!&ndash;            console.log(time);&ndash;&gt;-->
<!--&lt;!&ndash;            console.log(movie);&ndash;&gt;-->
<!--&lt;!&ndash;            console.log(pjh);&ndash;&gt;-->
<!--&lt;!&ndash;            console.log(date);&ndash;&gt;-->
<!--&lt;!&ndash;            window.location.href=`${window.location.origin}/bookseat/?time=${time}&date=${date}&pjh=${pjh}&movie=${movie}`&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<html lang="en">-->

<!--<head>-->
<!--    {% load static %}-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Booking-time</title>-->
<!--    <link rel="stylesheet" href="{% static 'css/book_pjh.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/timetable_st.css' %}">-->
<!--    <script src="/static/js/jquery.min.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--    <script src="/static/js/timetable.js"></script>-->
<!--    <header>-->
<!--        <nav>-->
<!--            <div class="logo">-->
<!--                <a class="nav-item-anchor active" href="./index.html"><img src="/static/image/logo.PNG" alt="logo"width="200px"></a>-->
<!--            </div>-->
<!--            <div class="nav-item">-->
<!--                <a class="nav-item-anchor active" href="#">영화 정보 / 리뷰</a>-->
<!--            </div>-->


<!--            <div class="nav-item">-->
<!--                <a class="nav-item-anchor" href="{% url 'ranking' %}">영화 랭킹</a>-->
<!--            </div>-->

<!--            <div class="nav-item">-->
<!--                <a class="nav-item-anchor" href="#">상영관 위치</a>-->
<!--            </div>-->

<!--            <div class="nav-item">-->
<!--                <a class="nav-item-anchor" href="#">예매</a>-->
<!--            </div>-->
<!--            <div class="login">-->
<!--                Hi,{{user}} !!-->
<!--                <a href="{% url 'signout' %}">로그아웃</a><br>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </header>-->

<!--    <div class="content">-->
<!--        <div class="beforeinfo">-->
<!--            <div class="where">-->
<!--                {% for pjh in pjh_selected.all %}-->
<!--                <p>{{pjh.pjh_name}}</p>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <div class="day">-->
<!--                <p>{{date_message}}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="timetable">-->
<!--            <div class="timerow" id="t1">-->
<!--                <div class="thnum">-->
<!--                    1상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 1%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t2">-->
<!--                <div class="thnum">-->
<!--                    2상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 2%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t3">-->
<!--                <div class="thnum">-->
<!--                    3상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 3%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t4">-->
<!--                <div class="thnum">-->
<!--                    4상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 4%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t5">-->
<!--                <div class="thnum">-->
<!--                    5상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 5%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t6">-->
<!--                <div class="thnum">-->
<!--                    6상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 6%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="timerow" id="t7">-->
<!--                <div class="thnum">-->
<!--                    7상영관-->
<!--                </div>-->
<!--                <div class="timebar">-->
<!--                    {% for time in timetables.all %}-->
<!--                    {% if time.theater_id == 7%}-->
<!--                    <div class="time">-->
<!--                        <div id ="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">-->
<!--                            <button class="timeselect" value="{{time.start_time}}">-->
<!--                                {{time.start_time}}-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {%endif%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <script>-->
<!--        function select_time(movie_id, pjh_id, date, time){-->
<!--            console.log(movie_id)-->
<!--            console.log(pjh_id)-->
<!--            console.log(date)-->
<!--            console.log(time)-->
<!--            window.location.href=`${window.location.origin}/bookseat/?time=${time}&date=${date}&pjh=${pjh_id}&movie=${movie_id}`-->
<!--        }-->
<!--    </script>-->
<!--</body>-->


<!--</html>-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PJHBOX</title>
    <link rel="stylesheet" href="{% static 'css/newst1.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/timetable_st.css' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/timetable_st1.css' %}">
</head>

<body>
    <header>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="header clearfix">
                        <h1>
                            <a href="{% url 'moviehome' %}">
                                <em><img src="/static/image/logo.png" alt="logo"></em>
                            </a>
                        </h1>
                        <nav class="nav">
                            <ul class="clearfix">
                                <li><a href="#">영화 정보</a></li>
                                <li><a href="{% url 'ranking' %}">영화 랭킹</a></li>
                                <li><a href="{% url 'pjhinfo' %}">상영관 위치</a></li>
                                <li><a href="{% url 'bookmovie' %}">예매</a></li>
                                {% if user.is_active %}
                                <li>
                                    <a>{{user}}</a>
                                </li>
                                <li>
                                    <a href="{% url 'signout' %}">로그아웃</a><br>
                                </li>
                                {% else %}
                                <li>

                                    <a href="{% url 'signin' %}">로그인</a>
                                </li>
                                <li>
                                    <a href="{% url 'signin' %}">회원가입</a>

                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="content">
            <div class="beforeinfo">
                <div class="where">
                    {% for pjh in pjh_selected.all %}
                    <p>{{pjh.pjh_name}}</p>
                    {% endfor %}
                </div>
                <div class="day">
                    <p>{{date_message}}</p>
                </div>
            </div>
            <div class="timetable">
                <div class="timerow" id="t1">
                    <div class="thnum">
                        1상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 1%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t2">
                    <div class="thnum">
                        2상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 2%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t3">
                    <div class="thnum">
                        3상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 3%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t4">
                    <div class="thnum">
                        4상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 4%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t5">
                    <div class="thnum">
                        5상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 5%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t6">
                    <div class="thnum">
                        6상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 6%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
                <div class="timerow" id="t7">
                    <div class="thnum">
                        7상영관
                    </div>
                    <div class="timebar">
                        {% for time in timetables.all %} {% if time.theater_id == 7%}
                        <div class="time">
                            <div id="asd" onclick="select_time('{{movie_message}}','{{pjh_message}}','{{date_message}}','{{time.start_time}}');">
                                <button class="timeselect" value="{{time.start_time}}">
                                            {{time.start_time}}
                                        </button>
                            </div>
                        </div>
                        {%endif%} {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            function select_time(movie_id, pjh_id, date, time) {
                console.log(movie_id)
                console.log(pjh_id)
                console.log(date)
                console.log(time)
                window.location.href = `${window.location.origin}/bookseat/?time=${time}&date=${date}&pjh=${pjh_id}&movie=${movie_id}`
            }
        </script>
    </section>


    <footer id="footer">

        <div id="footer_infor">
            <div class="container">
                <div class="row">
                    <div class="footer_infor">
                        <h2><img src="/static/image/logo.png" alt="logo"></h2>
                        <ul>
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">채용정보</a></li>
                            <li><a href="#">제휴/광고/부대사업 문의</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">윤리경영</a></li>
                        </ul>
                        <address>
                                <p>4공학관 스매쉬룸<br><span class="bar2">대표자명: 구치훈</span> 제작자: 장주섭 김동규 강은지 석예림 <br><span class="bar2">사업자등록번호 123-45-59478</span> 통신판매업신고번호 제 833호</p>
                                <p>Copyright 2014 by MegaboxJoongAng Inc. All right reserved</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/js/jquery.min.js"></script>

</body>

</html>