<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_movie.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for movie in current_movie.all %}
        <div class="movie_poster_item" onclick="button_click('{{ movie.movie_id }}');">
            <img class="movie_poster_size" src="{{movie.movie_poster.url}}"><br><br>
        </div>
    {% endfor %}
    <script>
        function button_click(movie_id) {
            console.log(movie_id);
            window.location.href = `${window.location.origin}/bookpjh/?movie=${movie_id}`
        }
    </script>
</body>
</html>