
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div onclick="select_date('{{movie_message}}','{{pjh_message}}', '2019-12-25');">2019-12-25</div><br>-->
<!--    <script>-->
<!--        function select_date(movie_id, pjh_id, date){-->
<!--            console.log(movie_id);-->
<!--            console.log(pjh_id);-->
<!--            console.log(date);-->
<!--            window.location.href=`${window.location.origin}/booktime/?date=${date}&pjh=${pjh_id}&movie=${movie_id}`-->
<!--        }-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->


<!--<html lang="en">-->

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/book_pjh.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="{% static 'css/book_date.css' %}">

    <title>Date Picker</title>

</head>

<body>
    <div id="container">
        <header>
            <nav>
                <div class="logo">
                    <a class="nav-item-anchor active" href="#"><img src="/static/image/logo.PNG" alt="logo"
                            width="200px"></a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-anchor active" href="#">영화 정보 / 리뷰</a>
                </div>


                <div class="nav-item">
                    <a class="nav-item-anchor" href="#">영화 랭킹</a>
                </div>

                <div class="nav-item">
                    <a class="nav-item-anchor" href="#">상영관 위치</a>
                </div>

                <div class="nav-item">
                    <a class="nav-item-anchor" href="./timetable.html">예매</a>
                </div>
                <div class="login">
                    Hi,{{user}} !!
                    <a href="{% url 'signout' %}">로그아웃</a><br>
                </div>
            </nav>
        </header>

        <section>
            <div class="calander noselect">
                <div class="cal_head paper-shadow-top-z-2">
                    <button class="button_left">
                        <i class="material-icons">keyboard_arrow_left</i></button>
                    <span id="month_label">Month</span>
                    <button class="button_right"><i class="material-icons">keyboard_arrow_right</i></button>
                </div>


                <div class="cal_body paper-shadow-bottom-z-1">
                    <table>
                        <tbody id="cal">
                        </tbody>
                    </table>
                </div>

                <div class="cc cal_output paper-shadow-top-z-1">
                    <form action="" method="POST">
                        <input type="date" id="dateinput" readonly>
                        <span id="outputText"></span>
                        <div id="button"><button type="submit">CHOICE</button></div>
                    </form>
                </div>
            </div><!-- 자기 내용 넣으세요 -->
        </section>
    </div>



    <script>
        $('#c1, #c2').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>



</body>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src="/static/js/date_picker.js"></script>


</html>