<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_active %}
        Hi,{{user}} !!
        <a href="{% url 'signout' %}">로그아웃</a><br>
    {% else %}
        <a href="{% url 'signin' %}">로그인</a>
    {% endif %}
    <h1>{{moviedetail.movie_name}} </h1>
    <img src="{{moviedetail.movie_poster.url}}" width=100px height=150px><br>
    연령 | {{moviedetail.movie_age}}<br>
    장르 | {{moviedetail.movie_genre}}<br>
    감독 | {{moviedetail.movie_director}}<br>
    출연 | {{moviedetail.movie_actor1}}, {{moviedetail.movie_actor2}}<br>
    평점 | {{score.0|floatformat:2}}<br>
    <div class="movie_poster_item" onclick="book_movie('{{ moviedetail.movie_id }}');">
    예매하기<br>
    </div>
    <h2>줄거리</h2><br>
    {{moviedetail.movie_story}}
    <br>
    <br>
    <h2>리뷰</h2>
    {% if request.user.is_active %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>
    {% else %}
    <div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div><br>
    {% endif %}
    {% for rev in reviews.all %}
        {{rev.review_grade}}    {{rev.username}}<br>
        {{rev.review_text}}<br><br>
    {% endfor %}

    <script>
        function book_movie(movie_id) {
            console.log(movie_id);
            window.location.href = `${window.location.origin}/bookpjh/?movie=${movie_id}`
        }
    </script>
</body>
</html>