<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JHBOX</title>
    <link rel="stylesheet" href="{% static 'css/newst_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&amp;subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
</head>

<body>
    <header>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="header clearfix">
                        <h1>
                            <a href="{% url 'moviehome' %}">
                                <em><img src="/static/image/logo.png" alt="logo"></em>
                            </a>
                        </h1>
                        <nav class="nav">
                            <ul class="clearfix">
                                <li><a href="{% url 'hello' %}">인사말</a></li>
                                <li><a href="{% url 'ranking' %}">영화 랭킹</a></li>
                                <li><a href="{% url 'pjhinfo' %}">상영관 위치</a></li>
                                <li><a href="{% url 'bookmovie' %}">예매</a></li>
                                {% if user.is_active %}
                                <li>
                                    <a href="{% url 'userinfo' %}">{{user}}</a>
                                </li>
                                <li>
                                    <a href="{% url 'signout' %}">로그아웃</a><br>
                                </li>
                                {% else %}
                                <li>

                                    <a href="{% url 'signin' %}">로그인</a>
                                </li>
                                <li>
                                    <a href="{% url 'signup' %}">회원가입</a>

                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer id="footer">
        <div id="footer_sns">
            <div class="container">

            </div>
        </div>
        <div id="footer_infor">
            <div class="container">
                <div class="row">
                    <div class="footer_infor">
                        <h2><img src="/static/image/logo.png" alt="logo"></h2>
                        <ul>
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">채용정보</a></li>
                            <li><a href="#">제휴/광고/부대사업 문의</a></li>
                            <li><a href="#">이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">고객센터</a></li>
                            <li><a href="#">윤리경영</a></li>
                        </ul>
                        <address>
                                <p>4공학관 스매쉬룸<br><span class="bar2">대표자명: 구치훈</span> 제작자: 장주섭 김동규 강은지 석예림 <br><span class="bar2">사업자등록번호 123-45-59478</span> 통신판매업신고번호 제 833호</p>
                                <p>Copyright 2014 by MegaboxJoongAng Inc. All right reserved</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>