<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/moviehome1.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
    <meta charset="UTF-8">
    <title>JHBox</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <img src="/static/image/logo.PNG" alt="logo">
                <div class="login">
                    {% if user.is_active %}
                    Hi,{{user}} !!
                    <a href="{% url 'signout' %}">로그아웃</a><br>
                    {% else %}
                    <a href="{% url 'signin' %}">로그인</a>
                    {% endif %}
                </div>
            </div>
            <nav>
                <div class="nav-item">
                    <a class="nav-item-anchor active" href="#">영화 정보 / 리뷰</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-anchor" href="{%url 'ranking'%}">영화 랭킹</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-anchor" href="#">상영관 위치</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-anchor" href="#">예매</a>
                </div>
            </nav>
        </header>
        <section>
            <div class="nowcom">
                <h2>상영 중</h2>
            </div>
            <div id="c1" class="owl-carousel owl-theme">
                {% for movieinfos in movie.all %}
                <div class="item">
                    <a href="{% url 'detail' movieinfos.movie_id%}"><img src="{{movieinfos.movie_poster.url}}" ></a>
                </div>
<!--                <div class="item2" onclick="button_click('{{ movieinfos.movie_id }}', '{{ movieinfos.movie_name }}');"-->
<!--                         id="{{ movieinfos.movie_id }}"><img src="{{movieinfos.movie_poster.url}}" ></div>-->
                {% endfor %}
            </div>
            <div class="nowcom">
                <h2>상영 예정</h2>
            </div>
                <div id="c1" class="owl-carousel owl-theme">
                {% for movieinfos in movie1.all %}
                <div class="item">
                    <a href="{% url 'detail' movieinfos.movie_id%}"><img src="{{movieinfos.movie_poster.url}}" ></a>
                </div>
<!--                    <div class="item2" onclick="button_click('{{ movieinfos.movie_id }}', '{{ movieinfos.movie_name }}');"-->
<!--                         id="{{ movieinfos.movie_id }}"><img src="{{movieinfos.movie_poster.url}}" ></div>-->
                {% endfor %}
            </div>
        </section>
    </div>
    <script>
        function button_click(movie_id, movie_name) {
	        console.log(movie_name);
	        console.log(movie_id);
	        window.location.href = `${window.location.origin}/detail/${movie_id}?name=${movie_name}&id=${movie_id}`
        }
        $('#c1, #c2').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
</body>
</html>