<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>현재상영작</h1>
    Hi, {{user}} !!
    <a href="{% url 'signout' %}">로그아웃</a><br>
    {% for movieinfos in movie.all %}
        <a href="{% url 'detail' movieinfos.movie_id%}"><img src="{{movieinfos.movie_poster.url}}" width=100px height=150px></a><br>
        {{movieinfos.movie_age}}
        <a href="{% url 'detail' movieinfos.movie_id%}">{{movieinfos.movie_name}}</a><br>
        장르 | {{movieinfos.movie_genre}}<br>
        감독 | <a href="{% url 'directorinfo' %}">{{movieinfos.movie_director}}</a><br>
        출연 | <a href="{% url 'actorinfo' %}">{{movieinfos.movie_actor1}}</a> , <a href="{% url 'actorinfo' %}">{{movieinfos.movie_actor2}}</a>
        <br>
    {% endfor %}
    <h1>개봉예정작</h1>
    {% for movieinfos in movie1.all %}
        <a href="{% url 'detail' movieinfos.movie_id%}"><img src="{{movieinfos.movie_poster.url}}" width=100px height=150px></a><br>
        {{movieinfos.movie_age}}
        <a href="{% url 'detail' movieinfos.movie_id%}">{{movieinfos.movie_name}}</a><br>
        장르 | {{movieinfos.movie_genre}}<br>
        감독 | <a href="{% url 'directorinfo' %}">{{movieinfos.movie_director}}</a><br>
        출연 | <a href="{% url 'actorinfo' %}">{{movieinfos.movie_actor1}}</a> , <a href="{% url 'actorinfo' %}">{{movieinfos.movie_actor2}}</a>
        <br>
    {% endfor %}
</body>
</html>