<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>JHBOX</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script type="text/javascript" src="/static/js/signup.js"></script>
</head>

<body>
    <div class = "container">
        <h1>JHBOX<span class='orangestop'>.</span></h1>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <span class='input'>
                <p>ID</p>
                <input name="id"  type="text" class="id" ></span>
            <span class='input'>
                <p>PASSWORD</p>
                <input name="pw" type="password" class="pw"></span>
            <span class='input'>
                <p>CONFIRM PASSWORD</p>
                <input name="pwcof" type="password" class="pwcof"></span>
            <span class='input'>
                <p>LAST NAME</p>
                <input name="lastname" type="text" class="lastname"></span>
            <span class='input'>
                <p>FIRST NAME</p>
                <input name="firstname" type="text" class="firstname"></span>
            <span class='input'>
                <p>BIRTH DATE</p>
                <input name="birth" type="date" class="birth"></span>
            <span class='input'>
                <p>PHONE NUMBER</p>
                <input name="phone" type="tel" class="phone"></span>
        <div class='divider'></div>
        <div class=button><button type="submit">SIGN UP</button></div>
        </form>
    </div>
</body>
</html>